/* CSS RESET */


*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-serif: eldwin-script,sans-serif;
   --font-sans: Futura, sans-serif;




  /* --color-main-light: #e4fcd1;
   --color-main-medium: #6dd21d;
   --color-main-dark: #234905;*/



   --color-neutral-lighter: #D4E6CA;
   --color-neutral-light: #d2dad2;
   --color-neutral-mediumer: #A0B791;
   --color-neutral-medium: #788578;
   --color-neutral-dark: #62824D;

   --color-main-light: #7394A0; (blue)
 --color-main-medium: #B5CFCF; (baby blue)
 --color-main-dark: #DBA49B; (peach)


   --color-black:#000;
   --color-white:#fff;



   --header-height:3rem;
}


body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,h2 {
   font-family:var(--font-serif);
}
h3,
h4,
h5,
h6 {
   font-family:var(--font-sans);
}


a {
   color:inherit;
   text-decoration: none;
   font-weight:bold;
}
a:hover {
   text-decoration:underline;
}






/* Layout Classes */


.hidden { display:none; }


.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 2 2 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.flex-column { flex-direction:column; }


.overscroll {
   width: 100%;
   height: 100%;
   overflow: auto;
}




/* FORMS */
.form-control {
    margin: 1em 0;
}
.form-label {
    font-size: 0.8em;
    color: var(--color-neutral-medium);
    margin: 0.5rem 0;
    border-radius: 1em;
    padding-left: 1.5em;
}
.ui-mobile label {
   margin:0.5rem 0;
}
.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-light);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
}
.form-button {
    border-radius: 0.5em;
    color: #DBA49B;
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: var(--color-neutral-medium);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
}

.ui-link {
    color: #51413c;
}

.hotdog {
   width:100%;
   border: solid 2px #B5CFCF;

   padding:0.5em 1em;
   border-radius:2em;
   line-height:0.75;
   display:inline-flex;
}
.hotdog input {
   background-color:transparent;
   border-width:0;
   font:inherit;
   color:inherit;
   border-radius:0;
   padding:0;
   margin:0;
   width:100%;
   flex:1;
   outline:0;
}
.ui-header .hotdog {
   height:calc(var(--header-height) - 0.3em);
   vertical-align: middle;
}


.list-search {
   padding:1em 1em;
   display: flex;
   align-items: center;
}


.filter-list {
  padding-top: 0.2em;
  padding-left: 1em;
  padding-bottom: 1em;
  display: flex;
  overflow: auto;
}

.filter{
    background-color: #B5CFCF;
    margin: 0.2em;
    opacity: 50%;
    padding: 0.2em 0.75em;
    align-items: center;
    font-size: 0.9em;
    border-radius: 1em;
    display: inline-flex;
}


#signin-form,
#signup-form,
#password-form {
   padding:1em;
}
.signin-alt {
   padding:1em;
   text-align:center;
   font-size:0.8em;
}
#recent-page [data-role='main'] {
   background-image:url(../img/map.png);
   background-position:center;
   background-size:cover;
}


.search-control{
  margin: 1em 0;

}

.search-bar{
    margin: 1em 0;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
}


/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}



[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}


.ui-header,
.ui-footer {
   flex:none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   overflow:hidden;
   position:relative;
}
.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
}

.ui-header ul,
.ui-footer ul {
   position:relative;
   display:flex;
   list-style-type:none;
   margin:0;
   padding:0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui.header a {
  line-height: var(--header-height);
}

.ui-header a,
.ui-footer a {
   display:block;
   padding:0 1rem;
}

/*.grid-container{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1em;
  list-style: none;
  padding: 0;
}


.grid-container li{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}*/



.plantlist {
   padding:1em;
  
}
.plantlist-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    vertical-align: text-bottom;
    border-radius: 5px;
}
.plantlist-item {
    display: flex;
    margin: 1em 0;
 
  

    
}
.plantlist-item:first-child {
   margin-top:0;
}
.plantlist-info {
   padding:0.5em;

}

.plantlist-description {
   font: 0.75em sans-serif;
   color: #7394A0;

}



.plantlist-type, {
   font-size:0.75em;
}
.plantlist-name {
   font-size:1.2em;
}


.plantlist-type img {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}

.plantlist.instruction-page {

    width: 60vw;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;

}

.instruction-page img{
  max-width: 100%;
}




/*.plantlist-item {
  height: 40vh;
  background-position:center;
   background-size:cover;
  display:block;
  flex-direction: column;
  margin: 2em;
  border-radius: 1em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: left;
}

.plantlist-image {
  height: 30vh;
 background: linear-gradient( rgba($dark, 0.25),
 rgba($dark, 0.65) );
 background-size: cover;
}

.plantlist-type,
.plantlist-color {
   
   font-size:1em;
   padding-left: 0.75em;
}

.plantlist-name {
   
   padding-left: 0.2em;
   padding-top: 0.5em;
   font-kerning: 0.2em; 
   font-size: 2em;
   padding-bottom:0em;
}

.plantlist-description {
   font-size:0.8em;
   padding-left: 1.75em;
   padding-right: 1.5em;
   
}*/




 /*MODALS */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}
.modal.active {
   opacity:1;
}
.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}
.modal-popup {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,calc(-50% + 3em));
   width: 80vw;
}

.popup-name {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.popup-info {
 
    position: absolute;
    width: 184px;
    height: 171px;
    left: 140px;

}

.popup-type, .plant-health {
 font-size: 1em;
}

.popup-type img{
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}

.plant-health img{
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}


.popup-description {
  padding-top: 0.5em;
  font-size: 0.75em;
  line-height: 120%;
}


.popup-button{
 position: relative;
  height: 35px;
  left: 10px;
  align-content: center;
    top: 140px;
}



.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head, .modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}



.modal.active .modal-back,
.modal.active .modal-popup {
    pointer-events: initial;
}
.modal.active .modal-popup {
   transform:translate(-50%,-50%);
}

.modal-close-floater {

}

/* MODAL DRAWER */
.modal-drawer {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
}

.modal-drawer.left,
.modal-drawer.right {
   height:100%;
   width:70vw;
}
.modal.drawer.left {left:0; transform: translateX(-100%); }
.modal.drawer.right {right:0; transform: translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   height:30vh;
   width:100%;
}
.modal-drawer.bottom{
  margin: 1em;
  width: calc(100% - 2em);
}

.modal-drawer.top { top:0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom:0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex: 1 1 100%;
}

.modal-foot input {
   display:block;
   width:100%;
   text-align:right;
   border-width:0;
   font-weight:bold;
   background-color:transparent;
   outline:0;
   color:var(--color-main-orange);
  font-size: 1em;
}


/* MODAL TOAST */
.modal-toast {
   position: absolute;
   width: 50%;
   background-color: #DBA49B;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
   border-radius: 0.2em;
   padding: 1em;
   text-align: center;
   left: 50%;
   transition: all 0.3s;
}
.modal-toast.top {
   top:1em;
   transform: translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform: translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events: initial;
}






/*FLOATER*/
.floater { position:absolute; padding: 1em; }
.floater.right { right:1em; }
.floater.left { left:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }


/*circle button*/
.btn-circle {
    background-color: white;
    line-height: 3rem;
    width: 3rem;
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 1em;

}



.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
    right: 1em;
}
.modal-close-floater.top {
    top: -1em;
    transform: translateY(-100%);
}





/* PROFILE */

.user-profile-image {
  width:50vw;
  height:50vw; 
  padding-top: 2em;
}


/*user profile page name*/
.name {
}

.user-info{
padding-bottom: 1em;
}

.profile-image img {
    border-radius: 10%;
    width: calc(100vw - 8em);
    height: calc(100vw - 8em);
    object-fit: cover;
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

}
.profile-body {
   padding:1em;
   text-align: center;
}

.profile-name {
   font-size:1.5em;

   ;
}


.profile-category,
.profile-pattern,
.profile-description, 
.profile-shape, 
.profile-type {
  font-size:1em;
   padding-bottom: 0.50em;
}




#plant-profile-page .profile-image {
   display:flex;
   align-items:center;
   justify-content:center;
}


#plant-profile-page .profile-image img {
    width: calc(100vw - 8em);
    height: calc(100vw - 8em);
}


.location-image{
   top:0;
   left:0;
   width:100%;
   height:50%%;

   background-size:contain;
   background-repeat:no-repeat;
}

/*.location-body{
  padding: 1em;
 

}
*/
.location-plant-health{
  padding: 1em;
  font-size: 1em;
}

.location-plant-health img{
  display: inline-block;
  width: 1.25em;
  height: 1.25em;

}
.location-description{
font-size: 1em;
padding: 1em;
}


.settings-list {
   list-style-type:none;
   margin:0;
   padding:0;
}

.settings-item a {
   display:block;
   padding:0.5em 1em;
   border-bottom:1px solid var(--color-neutral-lighter);
   position:relative;
}
.settings-item a:not([href='#'])::after {
   content:'>';
   position:absolute;
   top:50%;
   right:1em;
   transform:translateY(-50%);
}

.nav-icon img {
   width:1em;
   height:1em;
   vertical-align: text-bottom;
   object-fit: cover;
}
.nav-icon {
   line-height:calc(var(--header-height) * 0.6);
   font-size:1.5em;
}
.nav-label {
   line-height:calc(var(--header-height) * 0.4);
   font-size:0.7em;
   font-weight: 200;
}


.map {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.plant-top {
  flex:none;
  position: relative;
  height: 25vh;
}

.plant-bottom {
  flex:1 1 100%;
  position: relative;

}



.plant-top .profile-image img {
    width: 30vw;
    height: 30vw;
}



.icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}



.color-dot {
  display:inline-block;
  width:1rem;
  height:1rem;
  border-radius:1em;
}






.image-uploader.full {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;

   background-size:contain;
   background-repeat:no-repeat;
}
.ui-mobile label.image-uploader {
   margin: 0;
   width: calc(100vw - 2em);
   height: calc(100vw - 4em);
}
}
.image-uploader input {
   display:none;
}


.image-uploader.thumbnail {
    width: 5em;
    height: 5em;
    border-radius: 0.5em;
    background-position: center;
    background-size: cover;
    position:relative;
}
.image-uploader.thumbnail:not(.picked){
  border:2px solid var(--color-neutral-light);
}
/* This will add the floating plus symbol to the imagepicker */
.image-uploader.thumbnail:before {
  color:black;
  content:'+';
  position:absolute;
  font-size:3em;
  vertical-align:middle;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/* This will hide the plus symbol behind the background of the imagepicker if the class "picked" is added to the element */
.image-uploader.thumbnail.picked:before {
  z-index:-1;
}


#location-add-upload{
  display:none;
}


.drop-down{
  border: solid 2px #B5CFCF;
  padding: 0.5em 1em;
  border-radius: 2em;
  line-height: 0.75;
  display: inline-flex;
}


.ui-select{
    border: 1px solid var(--color-main-medium);
    border-radius: 5px;
    background-color: var(--color-neutral-light);

    width: 100%;
    text-align: left;
}









